{% load static %}

<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>English For Life - Reading</title>

   <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'homepage/css/bootstrap.css' %}" />
  <!-- progress barstle -->
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Raleway:400,600&display=swap" rel="stylesheet">
  <!-- font wesome stylesheet -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="{% static 'homepage/css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'homepage/css/responsive.css' %}" rel="stylesheet" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<body>
  <div class="">
    <!-- header section strats -->
     <header class="header_section" style="background-color: orange;">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="index.html">
            <span>
              ENGFORLIFE
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav  ">
                <li class="nav-item active">
                  <a class="nav-link" href="http://127.0.0.1:8000/" style="font-weight: bold;"> Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                  <a class="nav-link" href="http://127.0.0.1:8000/chude/" style="font-weight: bold;"> Chủ Đề </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/tuvung/" style="font-weight: bold;">Từ Vựng</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="http://127.0.0.1:8000/nguphap/" style="font-weight: bold; ">Ngữ Pháp</a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" style="font-weight: bold; color: black;">
                    Luyện
                  </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item active" href="http://127.0.0.1:8000/luyendoc/">Luyện Đọc</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/luyennghe/">Luyện Nghe</a>
                    <a class="dropdown-item" href="http://127.0.0.1:8000/luyennoi/">Luyện Nói</a>
                  </div>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#" style="font-weight: bold;"> Bài Kiểm Tra </a>
                </li>

              </ul>
            </div>
        </nav>
      </div>
    </header>

    <div class="common_style">

    <!-- about section -->
      <h1 class="display-1" style="text-align: center;font-weight: bold; ">Chọn chủ đề bạn muốn đọc </h1>
    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="https://png.pngtree.com/png-vector/20190119/ourlarge/pngtree-cartoon-cartoon-airplane-aircraft-aviation-png-image_479564.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Travels
              </h3>
              <p>
                Có lẽ phần đông chúng ta đều thích đi đây đi đó, đi du lịch nhất là nước ngoài.
                Nhưng bạn sẽ phân vân lo lắng vì không biết dịch tiếng Anh hay giao tiếp bằng tiếng Anh
                khi đi du lịch sẽ như thế nào? Vậy bạn hay tham khảo một số đoạn hội thoại chủ đề về du lịch dưới đây nhé!
              </p>
              <div class="">
                <a href="http://127.0.0.1:8000/luyendoc/travels/" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="https://thumbs.dreamstime.com/b/history-icon-set-subjects-designating-school-discipline-history-icon-set-subjects-designating-school-discipline-183947323.jpg" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                History
              </h3>
              <p>
                History - lịch sử là một chủ đề khó trong Ielts.
                Nhưng nếu biết cách học thì đây lại là một chủ đề khá thú vị, hãy cùng học Từ vựng Ielts về chủ đề này nhé.
              </p>
              <div class="">
                <a href="http://127.0.0.1:8000/luyendoc/history/" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


       <section class="about_section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="{% static 'homepage/images/1-555.jpg' %}" alt="">
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                Education
              </h3>
              <p>
                Chủ đề Education là một chủ đề khá là quen thuộc với tất cả chúng ta trong đời sống hằng
                ngày cũng như trong các bài thi và đặc biệt đây là chủ đề quan trọng và rất được ưa chuộng trong các kì thi IELTS gần đây.
                Vì  thế, việc bổ sung thêm từ vựng và kiến thức cho chủ đề này là vô cùng cần thiết nhé các bạn
              </p>
              <div class="">
                <a href="http://127.0.0.1:8000/luyendoc/education/" class="call_to-btn btn_white-border">
                  Xem bài đọc
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    </div>
</body>

</html>